@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer utilities{
  .text-mustard-yellow{
    color: #E6A602;
  }

  .bg-mustard-yellow{
    background: #E6A602;
  }

  .bg-mustard-yellow{
    background: #E6A602;
  }

  .text-yellow-green{
    color: #2BBA13;
  }
  .bg-yellow-green{
    background: #2BBA13;
  }
  .text-sonic-silver{
    color: #747474;
  }

}
